<section class="panel panel-primary" id="genre">
  <div class="panel-heading">
    <h3 class="panel-title">Top <%= @genre.title_case %> Films</h3>
  </div>
  <ul id="top-genre">
    <% @movies.each do |film| %>
      <li id="top-genre"><%= link_to(film.title, movie_path(film))%></li>
    <% end %>
  </ul>
</section>
