<!DOCTYPE html>
<html>
  <head>
    <title>CozyTime Reviews</title>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <h1><%= link_to("CozyTime Reviews", root_path)%></h1>
      <nav><%= link_to("Login/Register", new_user_path)%></nav>
    </header>
    <%= yield %>
  </body>
</html>
