#top-bar{
  margin: 0;
  border: none;
  position: fixed;
  top:0;
  width: 100%;
}

#bye-felicia{
  padding: 1%;
}

#body-stuff{
  margin-top: 5%;
}

#comment-review{
  padding: 5px;
}

#write-review{
  font-size: 18px;
  text-align: center;
  padding: 10px;

}

#movie-show{
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 2%;
}

#movie-info{
  display: inline-block;
  width: 95%
}

#movie-link{
  display: inline-block;
  width: 66%;
  padding: 2px;
}
#top-movie{
  padding: 2px;
}
#movie-preview-img{
  padding-left: 2%;
  border-radius: 3px;
}

#movie-img{
  float: left;
  margin: 10px;
}

#movie-title{
  font-size: 35px;
}

#movie-details{
  display: inline-block;
  word-wrap: break-word;
  width: 50%;
}

#comments{
  margin-left: 2%;
  width: 85%;
}

#comment-listing{
  border-bottom: 1px solid #bce8f1;
  border-top-left-radius: 3px;
}

#comment-content{
  margin: 0;
}

#user-commented{
  float: right;
  margin: 0;
}

#top-films {
  float: left;
  width: 33%;
  margin-left: 2%;
  margin-right: 5px;
}

#genre {
  width: 99%;
  list-style: none;
  margin: 5px;
}

#top-genre {
  list-style: none;
  margin: 5px;
}

#list-frame{
  padding-left: 1px;
  list-style: none;
}

#genre-list > li {
  display: inline-block;
}
#recent-reviews {
  float: left;
  width: 33%;
  margin-right: 5px;
}

#pop-genres {
  float: left;
  width: 30%;
  margin-right: 5px;
}

.rating-scale {
  display: inline;
}


.marked {
  color: black;
}

video {
  width: 100%;
}

.fullscreen-bg {
    margin-top: -30px;
    position: relative;
    width: 100% !important;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    width: 100%;
}

#overlay {
  position: absolute;
  width: 40%;
  height: 50%;
  left: 35%;
  top: 25%;
  vertical-align: middle;
  text-align: center;
  font-size: 350%;
  color: white;
}
