#top-bar{
  margin: 0;
}



#top-films {
  float: left;
  width: 33%;
  margin-left: 2%;
  margin-right: 5px;
}

#genre {
  width: 99%;
  list-style: none;
  margin: 5px;
}

#top-genre {
  list-style: none;
  margin: 5px;
}

#list-frame{
  padding-left: 1px;
  list-style: none;
  margin-left: -5px;
}

#genre-list > li {
  display: inline-block;
}
#recent-reviews {
  float: left;
  width: 33%;
  margin-right: 5px;
}

#pop-genres {
  float: left;
  width: 30%;
  margin-right: 5px;
}

.rating-scale {
  display: inline;
}
